<p-toast position="top-center"></p-toast>
<div class="cardBack">
  <div class="mx-3" style="width: 500px;">
    <div class="loginCard">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="loginForm container">
          <img class="logo" [src]="logoPath" alt="logotype">
          <!--          <span class="p-card-title">Регистрация</span>-->
          <div class="p-float-label w-100 mt-3">
            <input class="form-control" id="float-input" type="text" pInputText formControlName="username" name="login">
            <label for="float-input">Логин карго</label>
          </div>
          <div *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)"
               style="font-size: 12px; margin: 10px 0 0 10px;">
            <div *ngIf="loginForm.controls.username.errors?.['required']">
              Заполните поле
            </div>
            <div *ngIf="loginForm.controls.username.errors?.['hasWhiteSpace']">
              Уберите пробел
            </div>
          </div>
          <div class="p-float-label w-100 mt-4">
            <input class="form-control" id="name" type="text" pInputText formControlName="name" name="name">
            <label for="name">Имя</label>
          </div>
          <div class="p-float-label w-100 mt-4">
            <input class="form-control" id="surname" type="text" pInputText formControlName="surname" name="surname">
            <label for="surname">Фамилия</label>
          </div>
          <div class="p-float-label w-100 mt-4">
            <input class="form-control" id="mail" type="mail" pInputText formControlName="mail" name="mail">
            <label for="mail">Почта</label>
          </div>
          <div *ngIf="loginForm.controls.mail.invalid && (loginForm.controls.mail.dirty || loginForm.controls.mail.touched)"
               style="font-size: 12px; margin: 10px 0 0 10px;">
            <div *ngIf="loginForm.controls.mail.errors?.['required']">
              Заполните поле
            </div>
            <div *ngIf="loginForm.controls.mail.errors?.['email']">
              Укажите почту по формату mail@mail (убедитесь, что нет пробелов)
            </div>
          </div>
          <div class="p-float-label w-100 mt-4">
            <p-inputMask formControlName="phoneNumber" mask="+9 (999) 999-99-99"></p-inputMask>
            <label>Номер телефона</label>
          </div>
          <div class="p-float-label w-100 mt-4 mb-2">
            <input class="form-control" id="password" type="password" pInputText formControlName="password" name="password">
            <label for="float-input">Пароль</label>
          </div>
          <button pButton type="submit">Зарегистрироваться</button>
          <div class="mt-4">
              <span class="footerSec">
                У вас уже есть акканут? <a routerLink="/login">Авторизоваться</a>
              </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

