.trackCard {
  background-color: #EFF3F7;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  min-height: 100vh;
}

.buttonsSec {
  display: flex;
  justify-content: center;
  align-items: center;
}
