
.cardTitle {
  font-size: 22px;
  font-weight: 600;
}
.cardSubTitle {
  font-size: 16px;
  color: gray;
}
.cardInfoText {
  font-size: 16px;
  font-weight: 600;
}
.cardSec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.iconSec {
  margin-right: 25px;
}
.iconSec i {
  color: #3B82F6 !important;
}
