<p-toast position="top-center"></p-toast>
<div class="cardBack">
  <div class="mx-3" style="width: 500px;">
      <div class="loginCard">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="loginForm container">
            <img class="logo" [src]="logoPath" alt="logotype">
            <div class="p-float-label w-100 mt-4 mb-4">
              <p-inputMask formControlName="phoneNumber" mask="+9 (999) 999-99-99"></p-inputMask>
              <label>Номер телефона</label>
            </div>
            <button [disabled]="isLoading" pButton type="submit">Сбросить пароль</button>
            <div class="mt-4">
              <span class="footerSec">
                <a routerLink="/login">Авторизация</a>
              </span>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

